[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/diogoflim/AM/blob/main/5_Perceptron/perceptron.ipynb)

# Aprendizado de máquina e decisões dirigidas por dados

**Professor: Diogo Ferreira de Lima Silva**

**TPP - UFF**

**Aula 5**

## Download de bibliotecas

In [18]:
import pandas as pd
import numpy as np

## Tratamento de Dados

In [21]:
dados = pd.read_csv("diabetes.csv")
dados

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [22]:
dados.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Antes de aplicar o Perceptron, faremos uma normalização nos dados.

In [23]:
from sklearn.preprocessing import MinMaxScaler

dados_norm = MinMaxScaler().fit(dados).transform(dados)
dados_norm

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.23441503, 0.48333333,
        1.        ],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.11656704, 0.16666667,
        0.        ],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.25362938, 0.18333333,
        1.        ],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.07130658, 0.15      ,
        0.        ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.11571307, 0.43333333,
        1.        ],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.10119556, 0.03333333,
        0.        ]])

Separando os dados em conjunto de treinamento e conjunto de teste

In [24]:
X = np.delete(dados_norm, -1, axis=1)
y= dados_norm[:, -1]

In [25]:
print(X.shape)
print(y.shape)

(768, 8)
(768,)

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X,y, test_size = 0.2, stratify = y, random_state = 2)

### Aplicação do Perceptron

O algoritmo do Perceptron está disponível na biblioteca sklearn. 

1. Vamos importar o algorítmo e treiná-lo no conjunto de treinamento.
2. Posteriormente, vamos testar a acurácia no próprio conjunto de treinamento e no conjunto de teste.

In [28]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

modelo_P = Perceptron()
modelo_P.fit(X_train, y_train)

y_train_hat = modelo_P.predict(X_train)
print(f"Acurácia alcançada nos dados de trinamento: {accuracy_score(y_train_hat, y_train)}")

y_test_hat = modelo_P.predict(X_test)
print(f"Acurácia alcançada nos dados de trinamento: {accuracy_score(y_test_hat, y_test)}")

Acurácia alcançada nos dados de trinamento: 0.744299674267101
Acurácia alcançada nos dados de trinamento: 0.7272727272727273